
@media screen and (max-width:600px) {
    body {
        background-color: blueviolet
    }

}
/* which value is least will go last on styles */
/* ots opposite for minwidth least value go first */
/* @media screen and (max-width:400px){
    body{
        background-color: lawngreen;
    }
    
}

@media screen and (min-width:600px) {
    body {
        background-color: darkred;
    }

} */


@media screen and (min-width:400px) {
    body {
        background-color: lawngreen;
    }

}

@media screen and (min-width:600px) {
    body {
        background-color: darkred;
    }

}