* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(61, 70, 78);
}

.section {
  background-color: rgb(7, 55, 119);
  display: flex;
}

img {
  width: 150px;
  height: 150px;
  /* to maintain aspect ratio */
  object-fit: cover;
  border-radius: 50%;
}

/* improvements */
#main-content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section {
  width: 70%;
  margin-bottom: 20px;
  background-color: rgba(87, 147, 236, 0.938);
  border-radius: 10px;
  padding: 15px;
  justify-content: space-evenly;
  transition: transform 0.35s ease-in-out;
}
.section:hover {
  transform: scale(1.05);
}
.content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 10px;
}

p:not(:first-of-type) {
  font-size: 30px;
}
